<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">-->
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title>JiffyShirts.com - Upgrade Underway - Temporarily Closed for Maintenance</title>
  <style type="text/css">
    .general {
      font-family: arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      line-height: normal;
      font-weight: 200;
      font-variant: normal;
      color: #000000;
    }

    .pagetitle {
      font-size: 18px;
      font-weight: bolder;
      text-transform: capitalize;
      color: #990000;
      text-align: left;
    }
  </style>
</head>
<body class="general">
<center>
  <table width="740" border="0" bgcolor="#FFFFFF">
    <tr>
      <td>
        <table width="740" border="0" bgcolor="#FFFFFF">
          <tr align="left" valign="middle">
            <td valign="middle">
              <img src="https://jiffyshirts.imgix.net/gen/JiffyShirts.com.ai?auto=format&h=64&fm=png" alt="JiffyShirts.com" border="0" alt="JiffyShirts.com Wholesale Blank Shirts Delivered Fast" >
            </td>
          </tr>
        </table>
        <table width="740" border="0" bgcolor="#FFFFFF">
          <tr>
            <td valign="top" align="left" width="740">
              <br>
              <span class=pagetitle>JiffyShirts.com Upgrade - Improving your shopping experience</span>
              <p>We apologize while we close our site to perform maintenance and an upgrade.</p>
              <p><strong>We expect to be open again by <span id="estimated-end-time"><%= @estimated_end_time %></span></strong></p>
              <p>Until then if you have any questions, please email us at <a href="mailto:service@jiffyshirts.com">service@jiffyshirts.com</a></p>
              <p>Thank You,</p>
              <strong>The JiffyShirts.com Service Team</strong>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
</body>
</html>
